.buttonWrapper {
  width: 100%;
}

.button {
  width: 100%;
  background-color: var(--project-light-color);
  color: white;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
  transition-duration: .15s;
  transition-property: background-color;
  gap: .5em;
}

.button:hover {
  background-color: var(--project-color);
}

.button:focus {
  outline: 2px solid black;
}

.button > svg {
  font-size: 1.5em;
}
