.form {
  margin: 0 2em;
  display: grid;
  grid-template-columns: 1fr 68px;
  gap: 2em;
}

.form .inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.form .input {
  height: 68px;
  padding: 1em;
}

.submitBtn {
  background-color: var(--project-color);
}

.submitBtn svg {
  color: white;
  font-size: 2em;
}
