/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   OBS: with local modifications
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
textarea,
input, * {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  background: none;
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input[type='button'],
input[type='submit'] {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

html, body {
  background: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 8px;
  background: #e4e4e4;
}

body::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 999px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #b4b4b4;
}

/* --------------------------------- */

:root {
  --project-color: #76A157;
  --project-light-color: #93C96D;
  --font-color: #444;
  --gray: #666;
  --light-gray: #999;
  --silver: #d6d6d6;
  --light-silver: #eaeaea;
  --error: #da565d;
  --error-dark: #bd494f;
  --max-content-width: 1440px;
}
