.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  max-width: 1200px;
  width: 100%;
}

.contentContainer {
  display: grid;
  grid-template-columns: 450px 1fr;
  gap: 6.25em;
}

.callerAndButtonsContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 5em;
  font-weight: 500;
}

.caller {
  color: var(--font-color);
  font-size: 1.5em;
}

@media (max-width: 1220px) {
  .contentContainer {
    width: 450px;
    margin: 5em auto 0;
  }

  .caller {
    color: var(--font-color);
    font-size: 2em;
  }

  .artContainer {
    display: none;
  }
}
