.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  max-width: 1200px;
  width: 100%;
}

.appName {
  font-size: 4em;
  color: white;
  text-align: center;
  font-weight: 500;
  line-height: 1.5em;
  display: block;
  width: fit-content;
  padding: 0 .5em;
  margin: 0 auto;
  background-color: var(--project-color);
  box-shadow: .25em .25em 0 var(--project-light-color);
}

.contentContainer {
  display: grid;
  grid-template-columns: 450px 1fr;
  gap: 6.25em;
}

.callerAndButtonsContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 5em;
  font-weight: 500;
}

.caller {
  color: var(--font-color);
  font-size: 1.5em;
}

.buttonsContainer {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(2, 1fr);
}

.artAttribution {
  text-align: center;
  display: block;
  font-size: .8em;
  color: var(--project-light-color);
  transition: .15s;
}

.artAttribution:hover {
  color: var(--project-color);
}
