.header {
  position: fixed;
  top: 0;
  left: 80px;
  height: 80px;
  z-index: 1;
  box-shadow: 0 0 4px #00000040;
  background-color: white;
  width: fit-content;
  display: grid;
  width: calc(100% - 80px);
  grid-template-columns: 1fr 270px;
  grid-column: 2;
  grid-row: 1;
}

.header .profileField {
  border-left: 1px solid var(--light-gray);
  height: 100%;
  display: flex;
  align-items: center;
  grid-column: 2;
  padding: 0 1em;
}

.header .profileField .profile {
  display: flex;
  align-items: center;
  gap: 1em;
}

.header .profileField .profile .profileImage {
  border-radius: 9999px;
}

.header .profileField .profile .username {
  font-weight: 500;
  color: var(--font-color);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 172px;
}
