.button {
  width: 100%;
  background-color: var(--project-light-color);
  color: white;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
  transition: .15s;
  gap: .5em;
}

.button:hover {
  background-color: var(--project-color);
}

.button > svg {
  font-size: 1.5em;
}
