.inputWrapper {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: .8em;
}

.input {
  width: 100%;
  display: flex;
  align-items: center;
  padding: .5em;
  border: 1px solid var(--gray);
}

.input.error {
  border-color: var(--error);
}

.inputError {
  color: var(--error);
  font-size: .75em;
  font-weight: 300;
}
