.loadingWrapper {
  background-color: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.loadingContainer .text {
  font-size: 1.8em;
  color: var(--light-silver);
  font-weight: 500;
}
