



.sliderArrow {
  color: var(--gray);
  font-size: 1.5em;
}


.accountsSection .headerNewAccountBtn {
  white-space: nowrap;
}

.accountsSection .sliderContainer {
  position: relative;
  width: calc(100% - 24px);
}

.accountsSection .sliderContainer .sliderArrowBtn {
  position: absolute;
  top: 50%;
}

.accountsSection .sliderContainer .sliderArrowBtn.prev {
  transform: translate(-100%, -50%);
}

.accountsSection .sliderContainer .sliderArrowBtn.next {
  transform: translate(calc(100% + 16px), -50%);
  right: 0;
}

.accountsSection .accountCardWrapper {
  padding: 1em;
}

.accountsSection .newAccountCard {
  background-color: white;
  box-shadow: 0 1px 4px #00000040;
  border-radius: 8px;
  padding: 0 1.25em;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: .5em;
  transition: .15s;
}

.accountsSection .newAccountCard:hover {
  opacity: .8;
  box-shadow: 0 1px 2px #00000020;
}

.accountsSection .newAccountCard .newAccountText {
  color: var(--font-color);
}

.accountsSection .newAccountCard .newAccountSymbol {
  font-size: 2.5em;
  color: var(--project-light-color);
}

.skeletonAccountCardContainer {
  display: flex;
  gap: 2em;
  overflow: hidden;
  width: 100%;
  padding: 1em 0;
}
